<!DOCTYPE html>
<html>
	<head>
		<title>Water Works</title>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link href="{% static 'style.css' %}" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper">
			<h1>Compliments!</h1>

			<div id="register_pane">				
				<form action = "/registration" method = "POST">

					{% csrf_token %}
					
					<p>First Name <input type="text" name="first_name" value =  "{{ request.session.first_name }}" ></p>
					<p>Last Name <input type="text" name="last_name"></p>
					<p>Email <input type="text" name="email"></p>
					<p>Password <input type="text" name="password"></p>
					<p>Confirm Pass <input type="text" name="confirm_password"></p>

						I'm not a robot
					
  					<input type="checkbox" name = "robot" value = "True">
  					
					<p><input type="submit" name = "register" value="Register"></p>
					<p>
				</p>
				</form>
			</div> <!-- end register_pane -->

			<div id="messages">
				{% if messages %}
				{% for message in messages %}
				<p>{{ message }}</p>
				{% endfor %}
				{% endif %}
			</div>

			<div class = 'login_pane'>
				<h1>Login</h1>
				<form action = "/login" method="POST">
					
					{% csrf_token %}
					<p>Email: <input type="text" name="email"></p>
					<p>Password: <input type="text" name="password"></p>
					<p><input type="submit" name="login" value="Login"></p>
				</form>
			</div> <!-- end login -->
		</div> <!-- end wrapper -->

	</body>
</html>